.user-menu.mobile{
    display: none;
}
.user-menu.desktop{
    display: block;
}
@media only screen and (max-width:990px){
    .user-menu.mobile{
        display: block;
    }
    .user-menu.desktop{
        display: none;
    }
}